body {
  font-family: 'Raleway', sans-serif;
  background-color: #003881;
  color: white;
}
p {
  margin-bottom: 0px;
  letter-spacing: 2.5px;
  text-transform: lowercase;
}

/* Main Styling */
.title {
  text-align: center;
  padding-top: 10%;
}
.title h1 {
  font-size: 50px;
}
.parent-name {
  text-align: center;
  position: relative;
  top: 50px;
}

.container:not(.boxes) {
  position: absolute;
  bottom: 5px;
}

/* Box Parent Styling */
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 5%;
  margin-top: 5%;
  background-color: #3871BB;
}
.boxes {
font-weight: bold;
}

/* Box Child Styling */
.box {
  border: 2px solid white;
  padding: 2%;
  margin: 10px;
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
}
